<section class="about" id="about">
  <div class="container">
    <div class="about-wrapper">
      <div class="about-content">
        <h2 class="about-title">Про Меблерію</h2>
        <p class="about-text">
          У Меблерії ми прагнемо створювати затишок та функціональність у
          кожному домі. Наша місія - пропонувати високоякісні меблі, що
          поєднують у собі сучасний дизайн, довговічність та доступність. Ми
          віримо, що ідеальний інтер'єр починається з правильних меблів.
        </p>
      </div>

      <picture class="about-picture">
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/about/about-desktop.jpg    1x,
            /img/about/about-desktop@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/about/about-tablet.jpg    1x,
            /img/about/about-tablet@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/about/about-mobile.jpg    1x,
            /img/about/about-mobile@2x.jpg 2x
          "
        />
        <img
          class="about-image"
          src="/img/about/about-mobile.jpg"
          alt="Team"
          width="335"
          height="436"
        />
      </picture>
    </div>
  </div>
</section>
