<section id="faq" class="faq">
  <h2 class="title-ac">Часті питання</h2>
  <div class="accordion-container">
    <div class="ac">
      <h2 class="ac-header">
        <button type="button" class="ac-trigger">
          Як здійснюється доставка меблів?

          <svg class="icon">
            <use href="./img/sprite.svg#icon-chevron-down"></use>
          </svg>
        </button>
      </h2>
      <div class="ac-panel">
        <p class="ac-text">
          Ми доставляємо замовлення по всій Україні через надійні служби. Термін
          доставки зазвичай складає 3–7 днів залежно від регіону.
        </p>
      </div>
    </div>

    <div class="ac">
      <h2 class="ac-header">
        <button type="button" class="ac-trigger">
          Чи є можливість вибрати колір або матеріал?
          <svg class="icon">
            <use href="./img/sprite.svg#icon-chevron-down"></use>
          </svg>
        </button>
      </h2>
      <div class="ac-panel">
        <p class="ac-text">
          Так, у багатьох моделях доступні варіанти оббивки та кольорів. Усі
          доступні опції вказані на сторінці товару.
        </p>
      </div>
    </div>

    <div class="ac">
      <h2 class="ac-header">
        <button type="button" class="ac-trigger">
          Чи можна повернути товар, якщо він не підійшов?
          <svg class="icon">
            <use href="./img/sprite.svg#icon-chevron-down"></use>
          </svg>
        </button>
      </h2>
      <div class="ac-panel">
        <p class="ac-text">
          Так, ви можете повернути товар протягом 14 днів, якщо він не був у
          користуванні та збережений у первинному вигляді.
        </p>
      </div>
    </div>

    <div class="ac">
      <h2 class="ac-header">
        <button type="button" class="ac-trigger">
          Чи надаєте ви послугу збирання меблів?
          <svg class="icon">
            <use href="./img/sprite.svg#icon-chevron-down"></use>
          </svg>
        </button>
      </h2>
      <div class="ac-panel">
        <p class="ac-text">
          Так, під час оформлення замовлення можна обрати послугу збирання. Наші
          майстри зберуть меблі у зручний для вас час.
        </p>
      </div>
    </div>

    <div class="ac">
      <h2 class="ac-header">
        <button type="button" class="ac-trigger">
          Як здійснити оплату?
          <svg class="icon">
            <use href="./img/sprite.svg#icon-chevron-down"></use>
          </svg>
        </button>
      </h2>
      <div class="ac-panel">
        <p class="ac-text">
          Ми приймаємо оплату карткою онлайн, банківським переказом або
          післяплатою при отриманні.
        </p>
      </div>
    </div>
  </div>
</section>
