<!--Header-->
<header class="header">
  <div class="container">
    <div class="header-container">
       <a class="header-logo" href="./index.html">
          <svg class="logo-svg" width="163" height="70">
            <use href="/icon.svg#icon-company-logo"></use>
          </svg>
        </a>
        <nav class="burger-menu-nav">
          <ul class="burger-list-column">
            <li><a class="header-link" href="#furniture-list">Наші меблі</a></li>
            <li><a class="header-link" href="#about">Про нас</a></li>
            <li><a class="header-link" href="#faq">Часті питання</a></li>
            <li><a class="header-link" href="#feedback">Відгуки</a></li>
            <li>
              <a class="burger-buy-section-btn" href="#furniture-list">До покупок</a>
            </li>
          </ul>
        </nav>
      <button class="burger-btn" type="button">
        <svg width="32" height="32">
          <use href="/icon.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="close-btn header-burger-hidann" type="button">
        <svg width="32" height="32">
          <use href="/icon.svg#icon-x"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<div class="header-mobile-menu">
  <div class="container header-mobile-list">
    <nav class="header-menu-desktop">
      <ul class="header-list-row">
        <li><a class="header-link" href="#furniture-list">Наші меблі</a></li>
        <li><a class="header-link" href="#about">Про нас</a></li>
        <li><a class="header-link" href="#faq">Часті питання</a></li>
        <li><a class="header-link" href="#feedback">Відгуки</a></li>
        <li>
          <a class="burger-buy-btn" href="#furniture-list">До покупок</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="header-darkness"></div>