<div class="backdrop" id="thanks-backdrop">
  <div class="modal thanks-modal" id="thanksModal">
    <button
      type="button"
      class="modal-close-btn order-close-btn thanks-close-btn-js"
    >
      <svg class="modal-close-btn-svg" width="32" height="32">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="thanks-modal-container">
      <p class="thanks-subtitle">Все пройшло успішно</p>
      <h2 class="thanks-title">Чудовий вибір! Дякуємо за замовлення.</h2>
      <p class="thanks-description">
        Ми отримали вашу заявку і скоро зателефонуємо для підтвердження. Гарного
        вам дня!
      </p>
      <button
        type="button"
        id="closeThanksModalBtn"
        class="close-thanks-modal-btn"
      >
        Закрити
      </button>
    </div>
  </div>
</div>
