.hero {
    padding-top: 136px;
    padding-bottom: 137px;
    height: 617px;
    background-image: url("../img/hero/hero-mobile.jpg");
    background-image: image-set(
        url("../img/hero/hero-mobile.jpg") 1x,
        url("../img/hero/hero-mobile@2x.jpg") 2x
    );
    background-size: cover;
    background-position: center;
}

.hero-title{
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.01em;
color: #fff;
margin-bottom: 24px;
width: 100%;
max-width: 560px;
}

.hero-description{
    font-size: 18px;
line-height: 1.6;
color: #fff;
margin-bottom: 32px;
width: 100%;
max-width: 560px;
}

.hero-button{
    font-size: 16px;
line-height: 1.6;
color: #fff;
border-radius: 100px;
padding-block: 10px;
padding-inline: 24px;
width: 100%;
max-width: 335px;
height: 46px;
box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
background: #6b0609;
border: none;
}
.hero-button:hover,
.hero-button:focus {
  opacity: 0.5;
}

@media screen and (min-width: 768px) { 
 .hero {
    height: 396px;
    padding-top: 79px;
    padding-bottom: 80px;
    background-image: url("../img/hero/hero-tablet.jpg");
        background-image: image-set(
            url("../img/hero/hero-tablet.jpg") 1x,
            url("../img/hero/hero-tablet@2x.jpg") 2x
        );
    }
.hero-title{
    width: 560px;
}
.hero-description{
    width: 560px;
}
.hero-button{
width: 209px;
height: 46px;
}
}

@media screen and (min-width: 1440px) { 
 .hero {
    padding-bottom: 92px;
    padding-top: 92px;
    height: 507px;
    background-image: url("../img/hero/hero-desktop.jpg");
        background-image: image-set(
            url("../img/hero/hero-desktop.jpg") 1x,
            url("../img/hero/hero-desktop@2x.jpg") 2x
        );
    }
.hero-title{
    font-size: 56px;
}
}